.carousel-container{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.carousel-wrapper{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    padding-bottom: 20px;
}
.carousel-item-slide{ 
    min-width:100%; /*this is the trick instead to hace the (100%  *(mul) number_of_images)  */
    height: 100%;
    transition-timing-function: ease-out;
    -webkit-transition: transform  0.3s;
    -moz-transition:transform  0.3s;
    transition:transform 0.3s;
}
.carousel-item-slide img{
    display:block;
    width:100%;
}
.circle-container{
 width: 100%
}
.circle-container .circle {
	border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.29);
    display: inline-flex;
    margin: 5px;	
}
.circle-container .active{
     background-color: black;
}