<div class="carousel-container">
    <div *ngIf="items" #wraper class="carousel-wrapper" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)">
        <div class="carousel-item duplicate-left">  
           <img src="{{items[0].url}}"/>
        </div>
        <div *ngFor="let item of items" class="carousel-item" >
           <img src="{{item.url}}"/>
        </div>
        <div class="carousel-item duplicate-rigth">
         <img src="{{items[items.length-1].url}}"/>
        </div>
    </div>
    <div *ngIf="items" class="circle-container">
        <div class="circle" *ngFor="let item of items" > 
        </div>
    </div>
    <div *ngIf="!items" class="no-items">
        No image available
    </div>
</div>
