<div class="carousel-container">
    <div *ngIf="items" #wraper class="carousel-wrapper" 
    (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" (transitionend)="onTransitionEnd($event)">
        <div class="carousel-item-slide duplicate-left">
            <img src="{{items[items.length-1].url}}"/>  
        </div>
        <div *ngFor="let item of items" class="carousel-item-slide">
           <img src="{{item.url}}"/>
        </div>
        <div class="carousel-item-slide duplicate-rigth">
            <img src="{{items[0].url}}"/>
        </div>
    </div>
    <div *ngIf="items" class="circle-container">
        <div class="circle" *ngFor="let item of items" > 
        </div>
    </div>
    <div *ngIf="!items" class="no-items">
        There are not images available. 
    </div>
</div>
